.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-note-name-display {
  font-size: 50px;
  height: 60px;
  font-weight: bold;
}

.App-note-octave-display {
  font-size: 40px;
  height: 50px;
  font-weight: bold;
}

.APP-note-music-sheet-name {
  font-size: 30px;
  height: 40px;
}

.App-note-loading {
  height: 80px;
  line-height: 80px;
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 175px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
